--- 
layout: default 
---
<div class="container-fluid">
    <div class="text-center">
        <img src="{{ "/assets/image/profile.png" | relative_url }}" width="140" class="profile-pic">
        <h2>Ibnu Sina</h2>
        <h3 style="margin-bottom: 0">Software Developer</h3>
        <h4 style="margin-bottom: 30px">iOS App Developer</h4>
    </div>
    <div class="row row-grey">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row work-item-row">
                <div class="col-sm-6 work-image">
                    <div class="col-xs-6 work-image">
                        <img src="{{ "/assets/image/user_app_launch_white.png" | relative_url }}" class="img-responsive center-block">
                    </div>
                    <div class="col-xs-6 work-image">
                        <img src="{{ "/assets/image/user_app_main_white.png" | relative_url }}" class="img-responsive center-block">
                    </div>
                </div>
                <div class="col-sm-6 work-desc">
                    <h3 class="work-title"><a href="https://itunes.apple.com/id/app/bridestory-wedding-app-hilda/id1067262519?mt=8" target="blank" class="no-underline">Bridestory Wedding App & Hilda</a></h3>
                    <p>A must have application for brides-to-be. Bridestory Wedding App & Hilda was featured at AppStore in 2015. The app is helpful for a better planning realizing dream wedding. The app shows a vast library of wedding inspirations and vendors. The app also supports direct chat with Hilda, Bridestory professional wedding consultant.</p>
                    <h4 class="work-title">Technology</h4>
                    <p>Bridestory Wedding App & Hilda is built using Swift and Objective-C, using Cocoapods and Git submodule as dependency manager.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-grey">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row work-item-row">
                <div class="col-sm-6 col-sm-push-6 work-image">
                    <div class="col-xs-6 work-image">
                        <img src="{{ "/assets/image/vendor_app_launch_white.png" | relative_url }}" class="img-responsive center-block">
                    </div>
                    <div class="col-xs-6 work-image">
                        <img src="{{ "/assets/image/vendor_app_main_white.png" | relative_url }}" class="img-responsive center-block">
                    </div>    
                </div>
                <div class="col-sm-6 col-sm-pull-6 work-desc">
                    <h3 class="work-title"><a href="https://itunes.apple.com/id/app/bridestory-pro-for-vendors/id1014315547?mt=8" target="blank" class="no-underline">Bridestory Pro for Vendors</a></h3>
                    <p>Best companion for wedding business owner. Register and upload wedding project from mobile phone and get notified for incoming brides-to-be inquiries on realtime basis.</p>
                    <h4 class="work-title">Technology</h4>
                    <p>Bridestory Pro fo Vendor is Objective-C, using Cocoapods and Git submodule as dependency manager.</p>
                </div>
                
            </div>
        </div>
    </div>

    <div class="row row-clear">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Contact</h3>
            <p>email: <a href="mailto:ibnu.sina009@gmail.com" class="no-underline">ibnu.sina009@gmail.com</a><br>
                github: <a href="https://github.com/ibnusina" class="no-underline" target="blank">github.com/ibnusina</a><br>
                linkedin: <a href="https://www.linkedin.com/in/ibnu-sina-2b8a0940" class="no-underline" target="blank">www.linkedin.com/in/ibnu-sina-2b8a0940</a>              
            </p>    
        </div>
    </div>
</div>