<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{%- include head.html -%}

<body>
    <div class="container-fluid">
        <div class="text-center">
            <img src="{{ "/assets/image/profile.png" | relative_url }}" width=140 class="profile-pic">
            <h1>Ibnu Sina</h1>
            <h3>Software Developer</h3>
            <div class="text-center" style="margin:20px">
                <a  href="http://ibnusina.me/" class="no-underline" target="_blank">
						  		ibnusina.me
						  	</a>
            </div>
        </div>

    </div>
</body>

</html>